<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <% include partials/g_head %>
    
    <title>Edit User</title>
</head>
<body>


    <!-- Footer -->
    <% include partials/footer-no-display %>

    <!-- Scripts -->
    <% include partials/g_scripts %>
</body>
</html>