<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <% include partials/g_head %>
    <title>EEG Signal</title>
</head>
<body>
    <div style="height: 300px; width: 100%">
        <ul id='messages'></ul>
    </div>

    <!-- Footer -->
    <% include partials/footer-no-display %>

    <!-- Scripts -->
    <% include partials/socketio %>
    <% include partials/g_scripts %>

    <script text="text/javascript" src="/js/initSocketIO.js"></script>    
    <script text="text/javascript" src="/js/eegActions.js"></script>

</body>
</html>