<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <% include partials/g_head %>
    <link href="/css/placeholder-center.css" rel="stylesheet" type="text/css">
    <title>Signup</title>
</head>
<body>
    <div id="outer">
        <div id="inner">
            <div id="signup" class="no-display card-region">
                <div class="card-region-header">
                    Nuevo Usuario
                </div>
                <div class="card-region-body">
                    <form id="signupForm" action="/signup" method="post" class="no-display">
                        <input id="email" type="email" name="email" class="col-12 form-card-input mb-4" placeholder="Email">
                        <input id="password" type="password" name="password" class="col-12 form-card-input mb-3" placeholder="Password">
                        <button id="btnSignup" type="submit" class="form-card-button mt-3">Registrar</button>
                    </form>
                </div>
            </div>

            <% if(message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div> 
            <% } %>
        </div>
    </div>
    
    <footer id="footer" class="footer no-display">
        Instituto Tecnológico de Tijuana © 2019 - Tijuana, Baja California.
    </footer>


    <!-- Scripts -->
    <% include partials/g_scripts %>
    <script type="text/javascript" src="/js/initSignup.js"></script>
</body>
</html>