<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <% include partials/g_head %>
    <title>Tests</title>
</head>
<body>
    <!-- Footer -->
    <% include partials/footer %>

      <!-- Scripts -->
      <% include partials/g_scripts %>
</body>
</html>