.left-0 {
    left: 0 !important;
}

#Inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#Outer {
    width: 100%;
    height: 100%;
    display: table;
}

.bg-black {
    background-color: #000000 !important;
}

.height-100 {
    height: 100px !important;
}

.no-display {
    display: none !important;
}

.no-outline {
    outline: none !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.pointer {
    cursor: pointer !important;
}

.custom-card {
    height: 36px;
    margin: 0 auto;
    padding-top: 8px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: 800;
}

.mt-110 {
    margin-top: 100px !important;
}

.cssanimation, .cssanimation span {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

    .cssanimation span {
        display: inline-block
    }

.fadeOutLeft {
    animation-name: fadeOutLeft
}

@keyframes fadeOutLeft {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translateX(-9%);
    }
}